.App {
  text-align: center;
  margin-top: 10rem;
}

table {
  width: 93%;
  background-color: #4a4835ad;
  color: white;
  margin: 2rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 4px #201e1e;
}

th {
  padding: 10px 0px;
}

h1 {
  color: white;
  text-transform: capitalize;
  text-decoration: underline;
}

button {
  background-color: #282c34;
  border: none;
  padding: 15px 35px;
  color: white;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: bold;
}